/*
	Mettre ici les reset de styles des éléments de bases
	si besoin (boutons, liens, listes, etc...), ainsi que 
	les classes globales qui sont utilisées à plusieurs
	endroits dans l'application

	/!\ Aucune nouvelle variable ou mixin ne doit être
	déclaré ici ! Tout doit être déclaré dans 
	vars&mixins.scss
*/

// on importe vars&mixins.scss pour pouvoir utiliser les
// vars et les mixins ici

 @import '~@/style/vars&mixins.scss';

 // Resets de style des balises de base

 ul
	{
		margin: 0;
		padding: 0;

		li
		{
		 	margin: 0;
		 	list-style-type: none;
		 	text-align: left;
		}
	}

 // Définition des classes avec un style global

 a{
 color:white;
 text-decoration:none;
 }
 