<template>
	<div>
		<div class="des" id="description">
			<h1>Descriptif:</h1>
			<p>Le projet Yvahou fonctionne sous la forme d'un quizz simple et ludique permettant de sensibiliser au problème de la sécurité routière. Notre mascotte vous guide tout au long des situations évoquées pour vous expliquer la sécurité routière et ses différentes formes. Ce petit lapin, solidaire, vous aidera à vous renseigner sur ce sujet plus que compliqué. Que vous soyez cycliste, piéton ou camionneur ce site vous divertira et vous informera au mieux.</p>
			<br>
			<br>
			<p>Amusez vous bien et attention sur les routes.</p>
		</div>
	</div>
</template>

<script>
export default {
	name: 'app',
	data () {
	  return {

	  };
	},
	computed: {
	  
	},
	methods: {

	},
	
}
</script>

<style lang="scss">
	.des{
		position:absolute;
		top:130%;
		height: calc(100vh - 8%);
		width:80%;
		left:50%;
		transform: translate(-50%);
		h1{
			margin-top:10%;
		}
	}
</style>