<template>
	<div>
		<header>
			<ul>
				<li><a href="#Home">Accueil</a></li>
				<li><a href="#Quizz">Quizz</a></li>
				<li><a href="#About">About</a></li>
			</ul>
		</header>
		<div id="Home" class="home">
			<span class="question">IL VA OU?</span><br>
			<img class="family" src="images\family.png" alt="family" /><br>
			<button class="suite">
				<a href="#description">
					<img src="..\assets\arrow.png" alt="descriptif" height="90%" width="100%"/>
				</a>
			</button>
		</div>

	</div>
</template>

<script>
export default {
	name: 'app',
	data () {
	  return {

	  };
	},
	computed: {
	  
	},
	methods: {

	},
	
}
</script>

<style lang="scss">
	header{
		z-index:1;
		position:fixed;
		top:0px;
		height:7%;
		text-align: center;
		width: 100%;
		display: inline-block;
		ul{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			list-style-type: none;
			li{
				margin-right: 50px;
				margin-top:17px;
				white-space: nowrap;

			}
		}
		

		
		}
	.home{
		text-align:center;
		
		
	}
	.question{
		position:absolute;
		top:10%;
		left:50%;
		transform: translate(-50%);
		}
	.family{
		margin-top:20%;
	}

	.suite{
		margin-top:23%;
		height:40px;
		width:40px;
		border-radius:50%;
		background-color:white;
		border-color:black;


	}

</style>