<template>
	<section id="Quizz" class="quizz">
		<span class="score">Score : {{score}}</span>
		<fieldset v-if="showQuestions">
			<legend>{{currentQuestion}}</legend>
			<ul>
				<li 
					v-for="(answer, answerTag) in currentAnswerList" 
					:key="answerTag" 
				>
					<input 
						type="radio" 
						name="answer" 
						:id="answerTag"
						@click="questionWasAnswered(answerTag)"
					/>
    				<label :for="answerTag">{{answer}}</label>
				</li>
			</ul>
		</fieldset>
		<div v-else>
			{{result}} réponse !
			<div>{{currentComment}}</div>
			<button @click="showQuestions = true">Continuer</button>
		</div>
	</section>
</template>

<script>
export default {

  name: 'Quizz',

  data () {
    return {
    	showQuestions: true
    }
  },
  computed: {
      currentQuestion () {
        return this.$store.getters.currentQuestion;
      },
      currentAnswerList () {
      	return this.$store.getters.currentAnswerList;
      },
       currentComment() {
      	return this.$store.getters.currentComment;
      },
      result () {
      	return this.$store.state.resultIsCorrect ? "Bonne" : "Mauvaise";
      },
      score () {
      	return this.$store.state.score;
      }
     
    },
    methods: {
      questionWasAnswered (answerTag) {
        let vm = this;
    	new Promise(function (resolve, reject) {
    		resolve(vm.$store.dispatch('correctingTheAnwser', answerTag))
    	}
    		)
    	.then(vm.showQuestions = false);
      }
    }
}
</script>

<style lang="scss" >
	.quizz
	{	position:absolute;
		height:80%;
		width:80%;
		top:250%;
		left:10%;
		li
		{
			
			cursor : pointer;

			&>*
			{
				cursor : pointer;
			}	
		}
		.score{
			position:absolute;
			top:30%;
			left:50%;
			transform: translate(-50%);
		}
		
	}
</style>