<template>
	<div id="app">
			<!-- <header>
				<span>Vue.js PWA</span>
			</header>
			<main>
				<img src="./assets/logo.png" alt="Vue.js PWA">
				<router-view></router-view>
			</main> -->
			<ndi-home></ndi-home>
			<ndi-description></ndi-description>
			<ndi-quizz></ndi-quizz>	
	</div>
</template>

<script>
import Home from '@/components/home.vue';
import Description from '@/components/Description.vue';
import Quizz from '@/components/Quizz.vue'
export default {
	name: 'app',
	data () {
	  return {
	    konamiSequence: [
	    	'ArrowUp',
	    	'ArrowUp',
	    	'ArrowDown',
	    	'ArrowDown',
	    	'ArrowLeft',
	    	'ArrowRight',
	    	'ArrowLeft',
	    	'ArrowRight',
	    	'b',
	    	'a'
	    ],
	    currentStep: 0
	  };
	},
	components: {
		ndiHome: Home ,
		ndiDescription: Description ,
		ndiQuizz: Quizz,
	},
	computed: {
	  expectedKey () {
	    return this.konamiSequence[this.currentStep];
	  }
	},
	methods: {
	  checkKonamiCode (event) {
	    var currentKey = event.key;
	    var expectedKey = this.expectedKey;
	    if (currentKey === expectedKey)
	    {
	    	this.currentStep++;

	    	if (this.currentStep === this.konamiSequence.length)
	    	{
	    		console.log('Yeah Konami Code activated');
	    		this.currentStep = 0;
	    	}
	    }
	    else
	    {
	    	this.currentStep = 0;
	    }
	  }
	},
	created: function () {
            window.addEventListener('keyup', this.checkKonamiCode);
	}
}
</script>

<style lang="scss">
 @import '~@/style/setGlobalStyles.scss';

body {
	margin: 0;
}

#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
}

main {
	text-align: center;
	margin-top: 40px;
}

header {
	margin: 0;
	height: 56px;
	padding: 0 16px 0 24px;
	background-color: #35495E;
	color: #ffffff;
}

header span {
	display: block;
	position: relative;
	font-size: 20px;
	line-height: 1;
	letter-spacing: .02em;
	font-weight: 400;
	box-sizing: border-box;
	padding-top: 16px;
}
</style>
